html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.container {
  width: 960px;
  margin: 0px auto;
  display: flex;
  align-items: flex-start;
}

.headline {
  display: flex;
  align-items: center;
}

.headline img {
  height: 1.5rem;
  padding: 0 1rem 0 0.5rem;
}

.headline span {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.66rem 0;
}

.banner {
  background-image: url(../images/moto.jpeg);
  background-size: cover;
  height: 25rem;
  display: flex;
}

.strap {
  margin-top: 9rem;
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  margin-bottom: 0.25rem;
}

nav {
  background-color: firebrick;
}

nav .container {
  justify-content: space-between;
}

nav span {
  padding: 0.75rem 0 0.75rem;
}
